Options +FollowSymlinks
RewriteEngine On
RewriteRule ^([0-9a-zA-Z\-]+)$  http://localhost/www/wiki_project/index.php?page=$1 [L]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)$  http://localhost/www/wiki_project/index.php?page=$1&action=$2 [L]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)$  http://localhost/www/wiki_project/index.php?page=$1&action=$2&data=$3 [L]