{% extends "layout.html.twig" %}
{% set active = 'inscription' %}
{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Formulaire d'inscription</h1>

<form method="post" action="?page=inscription" >
	<input type="text" name="_sNom" placeholder="Votre Nom" required="required" /><br>
	<input type="text" name="_sPrenom" placeholder="Votre Prénom" required="required" /><br>
	<input type="text" name="_sMail" placeholder="Votre e-mail" required="required" /><br>
	<input type="password" name="_sPwd" placeholder="********" required="required" /><br>
	<input type="submit" class="btn btn-primary" name="userInscription"/>
</form>

{% endblock %}