{% extends "layout.html.twig" %}
{% set active = 'login' %}
{% block title %}Login{% endblock %}

{% block body %}

<form method="post" action="?page=login" >
	<input type="text" name="name" placeholder="pseudo"  required="required"/>
	<input type="password" name="pwd" placeholder="****"  required="required"/>
	<input type="submit" class="btn btn-primary" value="Connexion" name="userConnexion"/>
</form>

{% endblock %}