{% extends "layout.html.twig" %}
{% set active = 'search' %}
{% block title %}Recherche{% endblock %}

{% block body %}

<h1>Rechercher un article</h1>

{% include 'core/search_form.html.twig' only %}

{% endblock %}
