<ul>
<li {% if active=='home' %}{{'class="active"'}}{% endif %}>
	<a href="home" class="smart-menu">Accueil</a>
</li>
<li>
	<a href="article/addArticle" class="smart-menu">Ajouter un article</a>
</li>
<li {% if active=='search' %}{{'class="active"'}}{% endif %}>
	<a href="search" class="smart-menu">Rechercher un article</a>
</li>
</ul>